body {
    background-color: #111;
    font-family: sans-serif;
    color: #AAA;
}

h1 {
    color: #EEE;
}

div {
    margin: 0.2em 0;
}

div.error {
    color: #F44;
    margin: 1em 0;
    display: none;
}

div.nav {
    border-top: 1px solid gray;
    margin-top: 1em;
}

a {
    color: #FFF;
    text-decoration: none;    
}